.lolcpk img.off {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.lolcpk img.off:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.lolcpk img.on:hover {
    cursor: pointer;
}